.actDialog textarea {
    width: 100%;
}

.rewardItem, .reward {
	width: 480px;
}

.actReward {
	height: 24px;
	margin: 2px 0;
	width: 100%;
}

.actReward img {
	float: left;
}

.actReward .removeAction {
	float: left;
	margin-top: 4px;
}

.newReward {
	margin-right: 1em;
	float: left;
}

.actDialog .formRow label {
	width: 160px;
}
