<wicket:panel xmlns:wicket="http://wicket.apache.org">
 <div class="formRow">
     <label for="lastLogon"><wicket:message key="lastLogon">[Last Logon]</wicket:message></label>
     <span wicket:id="lastLogon">[Last Logon]</span>
 </div>
 <div class="formRow">
     <label for="lastLogoff"><wicket:message key="lastLogoff">[Last Logoff]</wicket:message></label>
     <span wicket:id="lastLogoff">[Last Logoff]</span>
 </div>
 <div class="formRow">
     <label for="lastSession"><wicket:message key="lastSession">[Last Session]</wicket:message></label>
     <span wicket:id="lastSession">[Last Session]</span>
 </div>
 <div class="formRow">
     <label for="sessionsLogged"><wicket:message key="sessionsLogged">[Sessions]</wicket:message></label>
     <span wicket:id="sessionsLogged">[Sessions]</span>
 </div>
 <div class="formRow">
     <label for="secondsLogged"><wicket:message key="secondsLogged">[Seconds]</wicket:message></label>
     <span wicket:id="secondsLogged">[Seconds]</span>
 </div>
 <div class="formRow">
     <label for="timeLogged"><wicket:message key="timeLogged">[Time Logged]</wicket:message></label>
     <span wicket:id="timeLogged">[Time Logged]</span>
 </div>
</wicket:panel>