<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="formRow">
		<label class="required" for="itemId"><wicket:message
				key="itemId">[Item]</wicket:message>:</label> 
		<div wicket:id="itemId" id="itemId"></div>
	</div>
	<div class="formRow">
		<label class="required" for="checkIndex"><wicket:message
				key="checkIndex">[Check Index]</wicket:message>:</label> 
		<input type="text" wicket:id="checkIndex" id="checkIndex"/>
	</div>
	<div class="formRow">
		<label class="mult" for="mult"><wicket:message
				key="mult">[Mult]</wicket:message>:</label> 
		<input type="text" wicket:id="mult" id="mult"/>
	</div>
</wicket:panel>