.loginFrame {
	width: 400px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
    background-color: #333;
    border: 1px solid #F9B936;
    font-size: 11pt;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.loginHeader {
	background-color: #F69603;
    border-bottom: 1px solid #F9B936;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    padding: 6px;
}

.loginForm {
	padding: 6px;
}