td.entityId {
}

td.actions {
    text-align: center;
    width: 72px;
}

td.rarity {
    width: 160px;
}

td.rate {
    width: 80px;
}

.newItemForm {
    padding-top: 10px;
}

.newItemForm .browse, .newItemForm .clear {
    float: none;
}

.itemItem {
    height: 24px;
    margin: 6px 0;
}

.itemItem a {
    float: left;
}

.itemItem span.itemName {
    font-weight: bold;
    display: inline-block;
    width: 200px;
}

.removeAction {
    padding-right: 4px;
}


