<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="confirmDialog">
        <form wicket:id="confirmDialogForm">
	        <div class="confirmDialogText">
	            <span wicket:id="confirmDialogText">[Confirm text]</span>
	        </div>
	        <div class="confirmDialogActions">
		        <input type="button" wicket:id="confirmDialogYes" value="Yes"/>
		        <input type="button" wicket:id="confirmDialogNo" value="No"/>
	        </div>
        </form>
	</div>
</wicket:panel>