.actionsArea .formActions {
	float: right;
}

.actionsArea .inner  {
	width: 100%;
}

.rawDialog textarea {
	width: 600px;
	font-size: 9pt;
	height: 25em;
	font-family: monospace;
}

.rawDialog input {
	padding-top: 4px;
}