<wicket:panel xmlns:wicket="http://wicket.apache.org">
<table class="rectangle">
    <thead>
        <tr>
            <th><wicket:message key="topLeftX"/></th>
            <th><wicket:message key="topLeftY"/></th>
            <th><wicket:message key="bottomRightX"/></th>
            <th><wicket:message key="bottomRightY"/></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" wicket:id="topLeftX" size="4"/></td>
            <td><input type="text" wicket:id="topLeftY" size="4"/></td>
            <td><input type="text" wicket:id="bottomRightX" size="4"/></td>
            <td><input type="text" wicket:id="bottomRightY" size="4"/></td>
        </tr>
    </tbody>
</table>
</wicket:panel>
